body,html { height: 100% }
body {
  margin: 0;
  padding: 0;
  background: #111;
  font-size: 100%;
  font-family: sans-serif;
  overflow: auto;
  color: #ccc;
}
header, main, footer {
  width: 1024px;
  margin: 20px auto;
}
a {
  color: #0af;
  text-decoration: none;
}
a:hover {
  color: #0cf;
}
main {
  position: relative;
}
#error {
  color: red;
  font-size: 1.25rem;
}
h1 {
  color: #ccc;
  font-size: 2rem;
  font-weight: normal;
}
canvas:focus {
  outline: none;
}
h2 {
  color: #ccc;
  font-size: 1.5rem;
  font-weight: normal;
}
code {
  font-size: 1rem;
  box-sizing: border-box;
}
#bytes {
  color: #aaa;
  font-size: 1rem;
  text-align: right;
  position: absolute;
  width: 100%;
}
#minified {
  word-break: break-all;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
#source {
}
